* {
    padding: 0;
    margin: 0;
    list-style: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    border: none;
}

html {
    overflow-x: hidden;
}

@function imgUrl($file, $path: "background"){
@return url("../images/" + $path + "/" + $file) no-repeat;
}

img {
    max-width: 100%;
}

body {
    @apply font-friends p-0 m-0 overflow-x-hidden;
}

.btn-yellow-hover-main-blue {
    position: relative;
    overflow: hidden;
    @apply bg-yellow rounded-[10px] h-14 text-white inline-flex justify-center items-center font-bold transition-all duration-75 hover:shadow-[4px_4px_#FFAE35];

    &::before {
        content: "";
        position: absolute;
        width: 0px;
        height: 0px;
        @apply bg-main-blue;
        top: 0;
        left: 0;
        outline: none;
        transition: all 0.6s ease;
        z-index: 1;
    }

    &:hover {
        &::before {
            width: 30px;
            @apply text-white;
            border-radius: 50px;
            height: 30px;
            transform: scale(36.5);
        }
    }

    &:focus {
        outline: none;
        box-shadow: 0;
    }
}

.btn-main-blue-hover-yellow {
    position: relative;
    overflow: hidden;
    @apply bg-main-blue rounded-[10px] h-14 text-white inline-flex justify-center items-center font-bold transition-all duration-75 hover:shadow-[4px_4px_#0067B9];

    &::before {
        content: "";
        position: absolute;
        width: 0px;
        height: 0px;
        @apply bg-yellow;
        top: 0;
        left: 0;
        outline: none;
        transition: all 0.6s ease;
        z-index: 1;
    }

    &:hover {
        &::before {
            width: 30px;
            @apply text-white;
            border-radius: 50px;
            height: 30px;
            transform: scale(106.5);
        }
    }

    &:focus {
        outline: none;
        box-shadow: 0;
    }
}

.container {
    max-width: 1379px;
    padding-left: 8px;
    padding-right: 8px;
}

#return-to-top {
    @apply bg-grey hover:bg-dark w-[50px] h-[50px] right-[55px] bottom-[95px] block rounded-full transition-all duration-100 ease-linear fixed hidden z-10 drop-shadow-2xl;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    @apply bg-primary;
}

::-webkit-scrollbar-thumb:hover {
    background: #022444;
}