@import url("https://use.typekit.net/enf0iwy.css");

$asset-path: "../fonts/";

/* Fonts includer */
@mixin font-face($font-family, $font-file, $weight: "normal", $style: "normal") {
    @font-face {
        font-family: $font-family;
        src: local($font-file), url($asset-path + $font-file + ".ttf") format("truetype"),
            url($asset-path + $font-file + ".otf") format("opentype");
        font-weight: $weight;
        font-style: $style;
    }
}

@include font-face("Friends", "Friends-UltraLight", 300);
@include font-face("Friends", "Friends-Thin", 400);
@include font-face("Friends", "Friends-Normal", 500);
@include font-face("Friends", "Friends-Regular", 600);
@include font-face("Friends", "Friends-SemiBold", 700);
@include font-face("Friends", "Friends-Black", 800);
@include font-face("Friends", "Friends-UltraBold", 900);
