.description {
    p {
        padding-bottom: 24px !important;
    }
}

.navigation_bar {
    .link_section {
        transition: 0.2s all;

        .logo_img {
            .white_logo {
                display: block;
            }

            .color_logo {
                display: none;
            }
        }
    }

    &.scrolled {
        .link_section {
            background-color: #ffffff;
            border-radius: 10px;
            padding: 8px 10px;

            .change_text_color_on_scroll {
                color: #0067B9;
            }

            .logo_img {
                .white_logo {
                    display: none;
                }

                .color_logo {
                    display: block;
                }
            }
        }

        .contact_section {
            .contact_btn {
                display: none;
                transition: 0.2s all;
            }
        }
    }
}

.homePage {
    .homepage_service_slider {
        .slick-track {
            display: flex;
        }

        .slick-slide {
            height: inherit;
            margin: 0 6px;
            display: flex;
        }
    }

    .testimonial_slider {
        .slick-track {
            display: flex;
        }

        .slick-slide {
            height: inherit;
            margin: 0 7px;
        }
    }
}

.aboutPage {
    .team_slider {

        .team_card_1,
        .team_card_4 {
            opacity: 0;
            transition: 0.5s all ease;
        }

        .slick-track {
            display: flex;
        }

        .slick-slide {
            height: inherit;
        }
    }
}

.policyPage {
    .policyPageContent {
        p {
            font-family: "articulat-cf", "sans-serif" !important;
            line-height: 2;
            color: #535456;
            padding-bottom: 24px;
        }

        .wp-block-heading {
            font-size: 35px;
            color: #0067B9;
            font-weight: 700;
            padding: 48px 0;
        }

        ul {
            padding-bottom: 24px;
            list-style: disc;
            padding-inline-start: 20px;

            li {
                font-family: "articulat-cf", "sans-serif" !important;
                line-height: 2;
                color: #535456;
            }
        }
    }
}

.bookingFormPage {
    ul.formTypeSlider {
        display: flex;
        position: relative;

        li {
            list-style: none;

            &.active {
                .formTypeSliderBtn {
                    color: #ffffff;
                }
            }

            .formTypeSliderBtn {
                transition: 0.5s;
                padding: 6px 24px;
                position: relative;
                height: 54px;
                z-index: 5;
                display: flex;
                align-items: center;
            }

            &.slide {
                @apply bg-main-blue rounded-t-2xl absolute h-[54px] top-0 left-0 opacity-0;
                z-index: 1;
                transition: 0.5s;
            }

            &:nth-child(1).active~.slide,
            &:nth-child(2).active~.slide,
            &:nth-child(3).active~.slide,
            &:nth-child(4).active~.slide {
                opacity: 1;
            }
        }
    }
}

.careersPage {
    .careersForm {
        .wpcf7 input[type="file"] {
            cursor: pointer;
            display: none;
        }

        #file_resume_label,
        #file_coverletter_label {
            border: 1px solid #ffffff;
            border-radius: 6px;
            display: flex;
            width: 100%;
            padding: 16px 24px;
            justify-content: center;
            text-align: center;
            cursor: pointer;
        }
    }
}

.areasPage {
    .region_nav {
        a {
            padding: 8px 24px;
            transition: 0.1s all ease-in-out;

            &.active {
                background: #5AB2F8;
                border-radius: 500px;
                color: #ffffff;
                height: 54px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

.blogsPage {
    .section_1 {
        background: linear-gradient(90deg, #0067B9 0%, rgba(100, 155, 200, 1) 65%, rgba(255, 255, 255, 0.00) 100%), imgUrl('blogs_section_1.png') right center;
        background-size: contain;
    }

    .blogFilterBtn {
        @apply py-3 px-4 font-articulat font-semibold text-light-blue bg-quaternary rounded-full hover:bg-main-blue hover:text-white duration-200;

        &.active {
            @apply bg-main-blue text-white;
        }
    }

    .blogs_slider {
        .slick-track {
            margin-left: -110px;
        }

        .slick-slide {
            margin: 10px;
        }
    }
}

.part_contactus_services {
    .slick-slide {
        @apply mx-2 rounded-full border border-light-blue px-10 py-3 text-light-blue font-articulat;
    }
}

.partContact {

    input::placeholder,
    textarea::placeholder {
        color: #ffffff;
    }
}

.partGlobalCta {
    &:hover {
        .globalCtaBg {
            @apply -left-7;
        }

        .globalCtaComponent_1 {
            transform: scale(1.1);
        }

        .globalCtaLogo_2 {
            transform: translateX(-5%);
        }

        .globalCtaComponent_2 {
            transform: translateY(-7%);
        }
    }
}

.partWhyus {
    .whyus-card {
        &:hover {
            .whyus-card-bg-1 {
                @apply -top-7 -right-7;
            }

            .whyus-card-bg-component-1 {
                transform: scale(1.1);
            }

            .whyus-card-bg-component-3 {
                transform: scale(1.1)rotate(5deg);
            }

            .whyus-card-bg-component-5 {
                transform: translateX(10%);
            }
        }
    }
}

.partLeadingBrands {
    .brand_slider {
        .slick-track {
            display: flex;
        }

        .slick-slide {
            height: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 10px;
        }
    }
}

.generalBanner {
    background: imgUrl('bannerWaves.png'), #5AB2F8;
    background-size: cover;
}

.accordion-container {
    width: 100%;

    .accordion-card {
        @apply border-b border-grey mb-14 pb-14 leading-7;

        .accordion-head {
            @apply cursor-pointer font-bold transition-all duration-200 text-2xl text-main-blue;

            .plusminus {
                @apply flex justify-center items-center h-[52px] w-[52px] text-[#5AB2F8] rounded-full;
            }

            &.active {
                .plusminus {
                    color: #0067B9;
                    background: #C0E3FF;
                }
            }
        }

        .accordion-body {
            display: none;
            font-weight: 500;
            line-height: 2;
            padding-top: 20px;

            a {
                color: #fff !important;
                text-decoration: underline;
            }
        }
    }

    &.active {
        display: block;
    }
}

#growingBox {
    position: relative;

    .shown {
        width: 16.666667% !important;
    }

    .showingNext {
        padding: 8px;
        width: 8.333333%;
    }
}

.innerInnerServicePage {
    .servicDescriptionCard {
        transition: 0.2s all ease-in-out;

        &.active {
            background:#ffffff;
            transition: 0.2s all ease-in-out;

            .subHeading {
                color: #5AB2F8 !important;
                transition: 0.2s all ease-in-out;
            }

            .title {
                color: #0067B9;
                transition: 0.2s all ease-in-out;
            }

            button.showServiceDescriptionBtn {
                background: #0067B9;
                transition: 0.2s all ease-in-out;
            }
        }
    }
}