.navigation_bar {
    .link_section {
        transition: 0.2s all;

        .logo_img {
            .white_logo {
                display: block;
            }

            .color_logo {
                display: none;
            }
        }
    }

    &.scrolled {
        .link_section {
            background-color: #ffffff;
            border-radius: 10px;
            padding: 8px 10px;

            .change_text_color_on_scroll {
                color: #0067B9;
            }

            .logo_img {
                .white_logo {
                    display: none;
                }

                .color_logo {
                    display: block;
                }
            }
        }

        .contact_section {
            .contact_btn {
                display: none;
                transition: 0.2s all;
            }
        }
    }
}

.homeBanner {
    background: imgUrl('homebanner.png'), linear-gradient(180deg, #255398 0%, #0A1D39 100%);
    background-size: cover;

    .homeBannerInner {
        background: imgUrl('homeBanner_team.png') center bottom;

        @media screen and (max-width: 540px) {
            background-position-x: left;
        }
    }
}

.homePage {
    .homepage_service_slider {
        .slick-track {
            display: flex;
        }

        .slick-slide {
            height: inherit;
            margin: 0 6px;
            display: flex;
        }
    }

    .testimonial_slider {
        .slick-track {
            display: flex;
        }

        .slick-slide {
            height: inherit;
            margin: 0 7px;
        }
    }
}

.aboutPage {
    .team_slider {

        .team_card_1,
        .team_card_4 {
            opacity: 0;
            transition: 0.5s all ease;
        }

        .slick-track {
            display: flex;
        }

        .slick-slide {
            height: inherit;
        }
    }
}

.contactUsPage {
    .contactus_services {
        .slick-slide {
            @apply mx-2 rounded-full border border-light-blue px-10 py-3 text-light-blue font-articulat;
        }
    }
}

.policyPage {
    .policyPageContent {
        p{
            font-family: "articulat-cf", "sans-serif" !important;
            line-height: 2;
            color: #535456;
            padding-bottom: 24px;
        }

        .wp-block-heading {
            font-size: 35px;
            color: #0067B9;
            font-weight: 700;
            padding: 48px 0;
        }

        ul {
            padding-bottom: 24px;
            list-style: disc;
            padding-inline-start: 20px;

            li {
                font-family: "articulat-cf", "sans-serif" !important;
                line-height: 2;
                color: #535456; 
            }
        }
    }
}

.partContact {

    input::placeholder,
    textarea::placeholder {
        color: #ffffff;
    }
}

.partGlobalCta {
    &:hover {
        .globalCtaBg {
            @apply -left-7;
        }

        .globalCtaComponent_1 {
            transform: scale(1.1);
        }

        .globalCtaLogo_2 {
            transform: translateX(-5%);
        }

        .globalCtaComponent_2 {
            transform: translateY(-7%);
        }
    }
}

.partWhyus {
    .whyus-card {
        &:hover {
            .whyus-card-bg-1 {
                @apply -top-7 -right-7;
            }

            .whyus-card-bg-component-1 {
                transform: scale(1.1);
            }

            .whyus-card-bg-component-3 {
                transform: scale(1.1)rotate(5deg);
            }

            .whyus-card-bg-component-5 {
                transform: translateX(10%);
            }
        }
    }
}

.partLeadingBrands {
    .brand_slider {
        .slick-track {
            display: flex;
        }

        .slick-slide {
            height: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 10px;
        }
    }
}

.generalBanner {
    background: imgUrl('bannerWaves.png'), #5AB2F8;
    background-size: cover;
}